{{#filters}}
<div class="filter-pill" data-filter-key="{{key}}">
    <span class="filter-key">{{key}}</span>
    <span class="filter-separator">:</span>
    <span class="filter-value">{{value}}</span>
    <button class="filter-remove" data-key="{{key}}" title="Remove filter">×</button>
</div>
{{/filters}}
