        <div class="result-table" data-result-index="{{index}}">
            <table>
                <thead>
                    <tr>
                        <th>Key</th>
                        <th>Assertion</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    {{#rows}}
                    <tr class="table-results" data-row="{{key}}">
                        <td>{{key}}</td>
                        <td>{{values.label}}</td>
                        <td>{{values.value}}</td>
                    </tr>
                    {{/rows}}
                </tbody>
            </table>